*{
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

h1{
    background-color: #3e443c;
    padding: 10px;
    text-align: center;
    margin: 20px;
}

body{
    background-color: #343633;
}

.selection img {
    height: 15rem;
    width: 15rem;
    border-radius: 100%;
    border: 3px solid white ;
    cursor: pointer;
}

img:hover{
    border: 3px solid black;
}

.selection{
    display: flex;
    margin: 50px;
    justify-content: space-evenly;
}

.scorebox{
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 30px 0;
}

.score{
    margin: 20px;
    font-size: 30px;
}

button{
    padding: 4px 14px;
    font-size: 28px;
    background-color: black;
    border: none;
    border-radius: 10px;
    display: block;
    margin: auto;
    padding: 5px 18px;
}

button:hover{
    background-color: rgb(21, 21, 21);
    cursor: pointer;
}

@media (min-width:612px) and (max-width:901px){
    .selection img{
        height: 10rem;
        width: 10rem;
    }
}

@media (min-width:0px) and (max-width:612px){
    .selection img{
        height: 6rem;
        width: 6rem;
        margin: 5px;
    }

    .selection{
        margin: 8px;
    }
}